body {
    margin: 20px;
    font-family: Arial, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: relative;
    text-shadow: 2px 2px  #d8cefe;


    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

@keyframes example {
   0%  {background-color: #d8cefe; left:0px; top:0px;}
  25%  {background-color: #d8cefe; left:200px; top:0px;}
  50%  {background-color: #d8cefe; left:200px; top:200px;}
  75%  {background-color: #d8cefe; left:0px; top:200px;}
  100% {background-color: #ddebf8; left:0px; top:0px;}



Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

